.Home {
    height: 100%;
    background: linear-gradient(125deg, #212121, #1f1f22);
}

.Home img {
    width: 100%;
    max-height: 600px;
}

.Home .cards {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.Home .cards .card {
    background: linear-gradient(135deg, #45333f, #412a3a, #3f3241, #3f3945, #343339);
    border-radius: 15px;
    width: 18%;
    min-width: 250px;
    height: 500px;
    position: relative;
}

.card-title {
    font-family: "Kaushan Script", cursive;
    text-align: center;
    color: #faf9fb;
}
@media (max-width:1300px) {
    .Home .cards .card {
        width: 22%;
        min-width: 200px;
    }

    .Home .cards .card:nth-child(5) {
        display: none;
    }
}