.circle-experience {
    width: 155px;
    height: 155px;
    margin: auto;
    margin-top: 100px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.circle-experience .inner {
    width: 135px;
    height: 135px;
    background: linear-gradient(135deg, #45333f, #412a3a, #3f3241, #3f3945, #343339);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: "Nerko One", cursive;
    color: #caaded;
    font-size: 32px;
}
